@import "./mixin";
:root {
  //colors
  --PRIMARY-BUTTON: #0072b5;
  --SECONDARY-BUTTON: #d2386c;
  --NEUTRAL-BUTTON: #798ea4;
  --BACKGROUND-COLOR: #edf1ff;
  //distances
  --SPACE-SMALL: 8px;
  --SPACE-MEDUIM: 14px;
  --SPACE-LARGE: 18px;

  //radius
  --RADIUS-SMALL: 4px;
  --RADIUS-MEDUIM: 8px;
  --RADIUS-LARGE: 12px;

  //sizes
}
